body{
    background-color: #191c29;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #fff;
    text-decoration: none;
}

ol li{
    width: 300px;
    list-style: none;
}

ol li {
    font-size: 1.2rem;
    padding: 20px 30px;
    margin: 10px 0;
    background: rgb(23, 23, 23);
    z-index: 5;
    position: relative;
    cursor: pointer;
    transition: all .4s;
}

ol li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: -1;
    transition: all .4s;
}

ol li:hover::before {
    width: 100%;
}

ol a:nth-child(1) li::before {
    background: #ff6961;
}

ol a:nth-child(2) li::before {
    background: #ffb480;
}

ol a:nth-child(3) li::before {
    background: #f8f38d;
}

ol a:nth-child(4) li::before {
    background: #42d6a4;
}

ol a:nth-child(5) li::before {
    background: #08cad1;
}

ol a:nth-child(6) li::before {
    background: #59adf6;
}

ol a:nth-child(7) li::before {
    background: #9d94ff;
}

ol a:nth-child(8) li::before {
    background: #c780e8;
}


ol li:hover {
    transform: translateX(20px);
}