@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root {
    --card-height: 600px;
    --card-width: calc(var(--card-height) / 1.5);
}

body{
    margin: 0;
    padding: 0;
    background: #02071b;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}
marquee{
    padding: 20px;
    height: calc(var(--card-height)  + var(--card-height) / 7);
}
.card{
    width: var(--card-width);
    height: var(--card-height);
    background-image: linear-gradient(
        90deg,
        #191c29 0px,
        #5f5f5f 40px,
        #191c29 80px
        );
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    font-family: cursive;
    background-size: 300%;
    background-position: 100% 0;
    margin-bottom: 20px;
}

.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
    animation: none;
}

.card:hover::before, .card:hover::after { /*Maybe remove the .card:hover::after*/
    animation: none;
    opacity: 0;
}

.card::before {
    content: "";
    height: 102%;
    width: 104%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate),
        #eca644, #e33ce0 43%, #c20054
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.6);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
        var(--rotate),
        #eca644, #e33ce0 43%, #c20054
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

.card:hover {
    animation: shimer 2s linear infinite;
}

/*make the shimer anim over the img*/
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.shimmer{
    width: var(--card-width);
    height: var(--card-height);
    background-image: linear-gradient(
        90deg,
        #8f8f8f00 0px,
        #ffffff 60px,
        #8f8f8f00 80px
        );
    padding: 3px;
    position: absolute;
    border-radius: 6px;
    background-position: 100% 0;
    background-size: 300%;
    opacity: 0;
}

.shimmer:hover {
    opacity: 0.8;
    animation: shimmer 2s linear infinite;
    
}
  
  @keyframes shimmer {
    to {
        background-position: -100% 0;
    }
  }